Repository 2ndWatch/cloudendure-python, pull requests merged in 2020-03, with the labels that each got.

#100 Adjust setup.py to conform to pipfile
  setup.py
Labels: bug, python

#98 Converted project from using pipenv to poetry
  .github/workflows/gh-pages.yml
  .github/workflows/lint-python.yml
  .github/workflows/pypi-publish.yml
  .travis.yml
  Dockerfile
  Dockerfile-py38
  MANIFEST.in
  Makefile
  Pipfile
  Pipfile.lock
  README.md
  docs/API_README.md
  poetry.lock
  pyproject.toml
  setup.cfg
  setup.py
Labels: enhancement, needs review, python

#103 Adjust Docker image
  Dockerfile
  Dockerfile-py39
  pyproject.toml
  setup.cfg
Labels: bug, docker

#104 Adjust project configs and update deps
  Makefile
  cloudendure/__version__.py
  poetry.lock
  pyproject.toml
Labels: enhancement, python

#109 Update to 0.2.2
  Makefile
  cloudendure/__init__.py
  cloudendure/__version__.py
  cloudendure/cloudendure.py
  cloudendure/config.py
  pyproject.toml
Labels: bug, enhancement, python

#110 Adjust linting
  .github/workflows/lint-python.yml
  Makefile
  cloudendure/api.py
  cloudendure/cloudendure.py
  cloudendure/config.py
  cloudendure/events.py
  cloudendure/models.py
  cloudendure/templates.py
  lambda/copy_ami.py
  lambda/handler.py
  pyproject.toml
  step/lambdas/copy_image.py
  step/lambdas/create_image.py
  step/lambdas/find_instance.py
  step/lambdas/get_copy_status.py
  step/lambdas/get_image_status.py
  step/lambdas/get_instance_status.py
  step/lambdas/image_cleanup.py
  step/lambdas/migrationstate.py
  step/lambdas/share_image.py
  step/lambdas/split_image.py
Labels: enhancement, python
